.parent-section {
    background-color: #30364F;
    height: 697px;



.skill-section {

    width: 1533px;
    background-color: #30364F;
    

    .first {
        margin-left: 20%;
        padding: 20px;
    }


    .image-card {
        border: none;
        object-fit: cover;
        background-color: #30364F;
        width: 180px;
        height: 230px;
        color: #E1D9BC;

        h5 {
            /* text-shadow: 2px 2px 2px #ffa077; */
            font-size: 25px;
        }

        img {
            height: 80%;
        }
    }
}
}